@model MyMarket.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Error</h1>

<div>
    <h4>ErrorViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowRequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowRequestId)
        </dd>
    </dl>
</div>
